<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparksys.mall.admin.dao.PmsProductDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sparksys.mall.admin.entity.PmsProduct">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="title" property="title"/>
        <result column="detail" property="detail"/>
        <result column="image_url" property="imageUrl"/>
        <result column="price" property="price"/>
        <result column="stock" property="stock"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, title, detail, image_url, price, stock
    </sql>

</mapper>
